ion-content
{background: linear-gradient(to bottom, #ee9ca7,#ee9ca7);}

h2 {
  color: rgb(0, 0, 0);
  text-align: center 
}

p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

